<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>expand()</h2>
      <p>
        <strong>expand()</strong> operatörü RXJS'de <br />

      </p>
      expand expand       expand expand       expand expand       expand expand       expand expand <br /> <br />
      <code>



        // RxJS v6+
        import  interval, of  from 'rxjs';
        import  expand, take  from 'rxjs/operators';

        //emit 2
        const source = of(2);
        const example = source.pipe(
          //recursively call supplied function
          expand(val =>
            //2,3,4,5,6
            console.log(`Passed value: val`);
            //3,4,5,6
            return of(1 + val);
          ),
          //call 5 times
          take(5)
        );
        /*
            "RESULT: 2"
            "Passed value: 2"
            "RESULT: 3"
            "Passed value: 3"
            "RESULT: 4"
            "Passed value: 4"
            "RESULT: 5"
            "Passed value: 5"
            "RESULT: 6"
            "Passed value: 6"
        */
        //output: 2,3,4,5,6
        const subscribe = example.subscribe(val => console.log(`RESULT: val`));


      </code>


      <strong>Stackblitz</strong>
      <div id="myDiv"></div>



    </main>
  </div>
</div>
