<div class="container-fluid">

  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">

    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">

      <h2>groupBy()</h2>
        <strong>groupBy</strong> operatörü ile Observable objelerinizi bölebilir, başka bir observable obje ile gruplayabilirsiniz.

        Observables obje içerisinde aynı key'e sahip tüm itemler emit edilir.
        <br />
        <em>Aşağıda ki örnekte school objesi içerisinde yer alan itemlar class'larına göre gruplanmıştır.</em>
        <br /><br />
        <blockquote>
          <h5>Data</h5><br />
          <code>
            name:"mehmet", age:27, class:1, <br />
            name:"alp", age:28, class:2,<br />
            name: "akif", age:28, class:1,<br />
            name: "1. ogrenci", age:28, class:1,<br />
            name: "2. ogrenci", age:28, class:3,<br />
            name: "3.ogrenci ", age:28, class:1
          </code>
        </blockquote>
          <br />
        <h5>Uygulama</h5>
        <code>

        </code>

        <div id="myDiv">

        </div>

    </main>
  </div>
  </div>
