<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>concat()</h2>
      <p>
        <strong>concat operatörü RXJS'de hem instance hem de static metod olarak kullanılabilir</strong>; <br />
        Concat birden fazla observable kaynağını sizin belirttiğiniz sıradan alarak concat eder.
        Concat'in merge'den önemli bir farkı tanımladığınız observable kaynakların sırasıyla çalışmasını sağlar.

        Bir önceki kaynağın mutlaka devamına yeni kaynağı ekler/çalıştırır.

      </p>

      <code>


        Observable source = (task1, task2, task3, task4); <br />
        Observable source2 = (task5,task6,task7,task8,task9);<br />

        Onservable concat = source.pipe(concat(source2));<br />
        Output: task1, task2, task3, task4, task5,task6,task7,task8,task9<br />

      </code>
      <br  />
      <strong>Stackblitz</strong>
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
