<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>concat()</h2>
      <p>
        <strong>concat operatörü RXJS'de hem instance hem de static metod olarak kullanılabilir</strong>; <br />
        Concat birden fazla observable kaynağını sizin belirttiğiniz sıradan alarak concat eder.
        Concat'in merge'den farkı tanımladığınız observable kaynakların sırasıyla çalışmasını sağlar.

        Bir önceki işlem tamamlanmadan diğerine geçmez.

      </p>

      <code>
        //emits 1,2,3
const sourceOne = of(1, 2, 3);
//emits 4,5,6
const sourceTwo = of(4, 5, 6);

//delay 3 seconds then emit
const sourceThree = sourceOne.pipe(delay(3000));
//sourceTwo waits on sourceOne to complete before subscribing
const example = sourceThree.pipe(concat(sourceTwo));
//output: 1,2,3,4,5,6
const subscribe = example.subscribe(val =>
  console.log('Example: Delayed source one:', val)
);
      </code>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
