<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>merge</h2>
      <p>
        <strong>Birden fazla observable'i bir observable'da combine eder.</strong>; <br />

        concat gibi merge'de static ya da instance method olarak kullanılabilir.

        Kendisine merge edilen tüm observable'ları tek noktadan emit edebilir.


        - Aşağıda ki örnekte 4 farklı observable kaynak interval yardımıyla birbirinden farklı aralıklarda çalışıyor. Bu 4 observable kaynağı tek observable'a merge ettiğimizde 4 ününde çıktılarını kendi configlerine göre alabiliyorsunuz.


      </p>

      <br  />
      <strong>Stackblitz</strong>
      <div id="myDiv">


      </div>
    </main>
  </div>
</div>
