<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>throwError()</h2>
      <p>
        <strong>throwError</strong>; <br />
        Observable nesneler ile işlem yaparken throwError ile kendi hatanızı yazabilirsiniz. Örneğin bir fonksiyonunuza mutlaka çift sayı gelmeli, burada kontrol edip eğer tek sayı geldi ise hata fırlatabilirsiniz.
      </p>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
