<div class="container-fluid">

<div class="row flex-xl-nowrap">

<app-sidebar></app-sidebar>
  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">

    <h2>interval()</h2>

      <strong>interval</strong> tanımlanan aralıklarda emit(yayın) yapan bir RXJS operatörüdür.
      Ilk çağrılışta direkt çalışmaz, tanımlanan sürenin ilk çağrılma süresi sonunda çalışmaya başlar.
        <br /><br />
      <h5>Parametreler</h5>
      <ul>
        <li>period : Her yayın yaptıktan sonra güncellenir.</li>
      </ul>


      <div id="myDiv">

      </div>

  </main>
</div>
</div>


