<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>Scan</h2>
      <p>
        <strong>Scan</strong>; <br />
        Opertörü bizim Observable nesnemizi Arraylerde kullandığımız Reduce mantığı gibi çalışmaktadır. Farklı olarak subscribe edildiğinde accumulatorun her değerini yayın yapar.
      </p>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
