<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>mapTo()</h2>
      <p>
        <strong>mapTo</strong>; <br />
        Opertörü bizim Observable nesnemizi subscribe etmeden değiştirmemize olanak sağlıyor. Map operatöründen farklı olarak içine tek bir değer alıyor. İçine verdiğimiz değer sonrasında subscribe olursak, "mapTo()"" içerisine verdiğimiz sonucu
        alıyoruz.
      </p>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
