<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>first()</h2>
      <p>
        <strong>first()</strong> operatörü RXJS'de <br />

      </p>

          Sıklıkla take() ile benzetilir. Ancak take() den daha kapsamlıdır. Observable objenizin ilk elemanını almaya çalışır, eğer yoksa/alamazsa error çalışır.

          first() ile boş bir sonucu observable'dan almaya çalışırsanız aşağıda ki gibi bir hatayla karşılaşırsınız. <br /> <br />
      <code>
        EmptyErrorImpl message: "no elements in sequence", name: "EmptyError"
      </code>
      <br /> <br />
      Ayrıca first() içerisinde filtre uygulayabileceğiniz koşullarda yazabilirsiniz.  <br /> <br />
      <code>
        source.pipe(first(data => data > 5));
      </code>

      <br  /> <br  />

      Kısaca first() beklediği datayı alamazsa Error yayını yapar. take() hiçbir yayın yapmaz

      <strong>Stackblitz</strong>
      <div id="myDiv"></div>
    </main>
  </div>
</div>
