<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>from()</h2>
      <p>
        <strong>from</strong>; <br />
        Bu oparatör, bir <strong>Dizinizi</strong>, <strong>String</strong> değerinizi, <strong>Promise</strong> verinizi, <strong>Rekürsif</strong> fonksiyonunuzu, Observable nesnelere çevirebilir. Fakat çıktı olarak dizilerde; dizinin tüm
        elemanlarını ard arda tekil olarak yayın yapar. Rekürsifler için de benzer bir durum geçerlidir. Take fonksiyonu yardımıyla rekürsif fonksiyondan istediğiniz kadar veri alabilirsiniz (ör: take(10)). Stringlerde ise şöyle bir çıktı
        verecektir. Örneğin 'Merhaba' nın çıktısı:
        'M','e','r','h','a','b','a' şeklinde olacaktır.
      </p>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
