<div class="container-fluid">

  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">

    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">

      <h2>range()</h2>

        <strong>range</strong> parametre olarak aldığı start değerinden başlarayak, ikinci parametre olarak gelen değerin lenght'ine ulaşana kadar kendini arttırır.
          <br /><br />
        <h5>Parametreler</h5>
        <ul>
          <li><strong>start </strong> : Ilk başlama değeri (integer)</li>
          <li><strong>count </strong> : 2. param olarak aldığı uzunluk </li>
        </ul>


        <div id="myDiv">

        </div>

    </main>
  </div>
  </div>


