<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar"></div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>fromEvent()</h2>
      <p>
        <strong>fromEvent</strong>; <br />
        Bu oparatör, herhangi bir DOM elemanınızın bir eventini dinleyebilmenize olanak sağlar. "Click", "Mouse Over", "Mouse Out" gibi pek çok eventi dinleyebilirsiniz. Eventler tetiklendiğinde Observable olarak bir yayın yapar. Örneğin click
        eventini dinliyorsanız. Tıkladığınızda .subscribe ile dinlemişseniz. subscribe içerisindeki kodlarınız çalışır.
      </p>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
