<div class="container-fluid">

    <div class="row flex-xl-nowrap">

    <app-sidebar></app-sidebar>
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">

        <h2>race</h2>

          <strong>race</strong> parametre olarak aldığı observable objelerin hangisinin daha erken emit yaptığını belirlemeye ve kulllanmaya yarar.
          Her zaman ilk yayın yapan observable'i alır.
            <br /><br />

          <div id="myDiv">

          </div>

      </main>
    </div>
    </div>


