<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <h2>timer()</h2>
      <p>
        <strong>timer</strong>; <br />
        Bu oparatör, sizin için bir sayaç oluştur. Interval operatöre ek olarak ilk parametrede kaç milisaniye sonra çalışacağını belirtirsiniz ve o kadar süre sonra çalışır. İkinci parametrede ise kaç milisaniyede bir çalışmasını istiyorsanız onu
        girmelisiniz. Örneğin timer(4000, 2000) tanımlarsanız. Subscribe olduğunuz noktada 4 saniye sonra çalışmaya başlar ve çalıştıktan sonra 2 saniyede bir sonsuza kadar çalışabilir.
      </p>
      <br /><br />
      <div id="stackblitz"></div>
    </main>
  </div>
</div>
